[submodule "references/vulcan"]
	path = references/vulcan
	url = https://github.com/tanged123/vulcan.git
[submodule "references/metis"]
	path = references/metis
	url = https://github.com/tanged123/metis.git
